body{
    width: 1920px;
    margin: 0 auto;
}
body,
input,
textarea,
select,
option {
  font-family: 'DIN Alternate','Unna', sans-serif;
  font-size: 14px;
  color: #86763F;
}
.header_container,
.footer_container{
    margin: 0 auto;
    max-width: 1760px;
    width: 100%;

}
.container{
    margin: 0 auto;
    max-width: 1760px;
    width: 100%;
    background-color:rgba(178, 173, 162, 0.1);
}
header{
    background-color:#ffffff;
    height: 135px;
}

.header_nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    padding-top: 23.2px;
    margin-left: 297.5px;

}
.nav_list{
    display: flex

}
.nav__item{
    padding-top: 60px;

}
.nav__item a{
    font-size: 15px;
    font-weight: bold;
    color: #B2ADA2;
    line-height: 12px;
    text-decoration: none;
    letter-spacing: 5px;

}
.nav__item:nth-child(2),
.nav__item:nth-child(3) {
  margin-left: 50px;
}
.nav__item a:hover{
    color: #461540;
    border-top: 1px solid;
    transition-duration: 0.5s;

}
.nav__item a:active{
    color: #461540;
    border-top: 2px solid;
}
.block_section{
    float: left;
    width:100%;
    clear: both;
}
.home_banner{
    background-image: url(../images/background.png);
    height: 620px;
    width: 1920px;
}
.home__content{
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home__content a{
    text-decoration: none;
    line-height: 68px;
    font-size: 60px;
    color: #ffffff;
    font-weight: normal;
}
.home__content a:hover{
    border-top: 2px solid;
    transition-duration: 0.3s;
}
.medium_wrapper{
    position: relative;
    width: 1200px;
    margin: auto;

}
.medium_boxes{
    display: grid;
    grid-template-columns: 576px 576px;
    justify-content: center;
    grid-gap:48px;

}
.medium__boxes-left,
.medium__boxes-right{
    margin-top: -50px;
    height: 230px;
    background-color: #ffffff;
    position: relative;
    box-shadow: 5px 5px 16px rgba(129, 104, 104, 0.4);

}
.medium__content{
    width: 386px;
}
.medium__content a{
    text-decoration: none;
}
.medium__boxes-left h3,
.medium__boxes-right h3{
    margin-top: 51px;
    margin-left: 104px;
    font-size: 28px;
    font-weight: normal;
    color: #461540;
    width: 100%;

}
.medium__boxes-left p,
.medium__boxes-right p{
    margin-top: 20px;
    margin-left: 104px;
    font-size: 16px;
    font-weight: normal;
    color: #5A4A41;
    width: 100%;
    line-height: 24px;
}
.arrow_right{
    width: 34px;
    height: 34px;
    border-radius: 100%;
    background-color:#461540;
    margin-left: 50px;
    position: absolute;
}
.product_wrapper{
    padding-top:140px;
    width: 1200px;
    margin: auto;

}
.box_content-left{
    display: grid;
    grid-template-columns: 472px  680px;
    grid-gap:48px;
    justify-content: center;
    margin-top: 105px;
    border-bottom: 1px solid rgba(178, 173, 162, 0.5);
}
.box_content-right{
    display: grid;
    grid-template-columns:  680px 472px ;
    grid-gap:48px;
    justify-content: center;
    margin-top: 105px;
    border-bottom: 1px solid rgba(178, 173, 162, 0.5);

}
.box__content{
    width: 100%;
    height: 400px;
}
.box__content h2{
    font-weight: normal;
    font-size: 38px;
    color: #86763F;
    width: 100%;
    margin-bottom:40px;
    height: 86px;

}
.box__content p{
    font-weight: normal;
    color: #5A4A41;
    font-size: 18px;
    margin-bottom: 89px;
    line-height: 28px;
    height: 154px;

}
.box__content a{
    font-size: 24px;
    color:#86763F;
    font-weight: normal;
    height: 24px;
    text-decoration: none;
}

.box__content img{
    margin-right: 15px;
    margin-bottom: -5px;

}

.box__thumb{
    height: 400px;
    object-fit: cover;
    margin-bottom: 105px;
    color: #B2ADA2;
}
.info_wrapper{
    padding-top:140px;
    width: 1200px;
    margin: auto;

}
.info_tittle{
    font-size: 38px;
    color:#86763F;
    font-weight: normal;
}
.boxes_info{
    display: grid;
    grid-template-columns: 368px 368px 368px;
    grid-gap: 48px;
    justify-content: center;
    width: 1200px;
}
.info{
    margin-top: 40px;
}
.info__content{
    margin-top: 20px;
}
.info__content h3{
    font-size: 28px;
    font-weight: normal;
}
.info__content span{
    font-size: 18px;
    font-weight: normal;

}
.info_item{
    margin-top: 33px;
    margin-bottom: 85px;
}
.info_list{
    margin-bottom: 22px;
    display: grid;
    grid-template-columns: 22px auto;
    grid-gap:15px;


}
.info_list a{
    font-size: 18px;
    color: #5A4A41;
    text-decoration: none;

}

footer{
    height: 316px;
}

.footer_content{
    margin-top: 80px;
    text-align: center;
}
.footer__logo{
    margin-bottom: 30.4px;
    
}
.footer_content h5{
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: normal ;
    color:#B2ADA2;
}